$bg: #212337;
$bg-alt: #191a2a;
$base2: #1e2030;
$base3: #222436;
$base4: #2f334d;
$base5: #444a73;
$base6: #828bb8;
$fg: #c8d3f5;
$blue: #82aaff;
$red: #ff757f;
$green: #c3e88d;
$yellow: #ffc777;
$magenta: #c099ff;
$cyan: #86e1fc;

.bar {
  background-color: $bg;
  color: $fg;
  padding: 4px 8px;
}

.workspaces {
  button {
    padding: 0 6px;
    margin: 2px;
    background-color: $base2;
    color: $base6;
    border: none;
    border-radius: 4px;

    &:hover {
      background-color: $base4;
    }

    &.current {
      background-color: $blue;
      color: $bg;
    }
  }
}

.metric {
  background-color: $base2;
  padding: 0 10px;
  border-radius: 4px;

  .label {
    min-width: 24px;
    color: $cyan;
  }

  scale trough {
    background-color: $base4;
    border-radius: 2px;
    min-width: 50px;
    min-height: 10px;
    margin: 0 4px;

    highlight {
      background-color: $blue;
      border-radius: 2px;
    }
  }
}

.system {
  margin-right: 8px;
}
